<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Ejs ask;dfjhask;fdha;ksdf</title>
  </head>
  <body>
    Hello ejs <%= Math.random() %>
    <p>Here is the parameters i get:</p>
    <p><%= content%></p>
  </body>
</html>
